.flex-container{
   display: flex; 
   justify-content: space-between;
}
.flex-container > div{
    background-color: tomato;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    line-height: 75px;
}